@import "../../sass/importMixins.scss";

.pr-page__home {
    width: 100%;
    @include mx-flex();
    @include mx-flex-column();
    gap: 60px;
    h1{
        font-size: 1.2em;
        font-weight: 600;
    }
    p{
        font-size: 0.9em;
        color: #8f8f8f;
        font-weight: 600;
    }
}


.pr-box{
    @include mx-flex();
    @include mx-flex-column();
    gap: 20px;
}

a{
    text-decoration: none !important;
}